
<section class="head">
    <article>
        <h2>Frequently Asked Questions (FAQs)</h2>
        <!-- <h3>{{course.subTitle}}</h3> -->
        <p>Check below for answers to common questions you may want to ask</p>
      </article>
  </section>
  
  <section class="breadcrumb-wrapper">
          <div class="breadcrumb">
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Home</a> &gt;
              <a routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Support</a> &gt;
              <span>faq</span>
          </div>
       </section>
  
  
  <section class="body">
      <article class="writeup">
        <h3>FAQs</h3>
  
        <div class="form">
          <mat-form-field appearance="outline">
            <mat-label>Search for question</mat-label>
            <input matInput>
            <!-- <mat-hint>Name is optional for anonymity</mat-hint> -->
          </mat-form-field>
        </div>
        
        
        <mat-accordion>
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> What exactly is included in your financial freedom training?</mat-panel-title>
              <!-- <mat-panel-description>This is a summary of the content</mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your experience with our drivers</p> -->
  
            <ul>
              <li>
                We offer a detail through video lesson, and also on resources like ebooks/workbooks, access to an online community/coach etc.
              </li>
            </ul>
          </mat-expansion-panel>
  
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> How is this training program different from others?</mat-panel-title>
              <!-- <mat-panel-description>This is a summary of the content</mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your experience with our cars</p> -->
  
            <ul>
              <li>
                We support participants from the first day, till they grow to manage their business 
              </li>
            </ul> 
          </mat-expansion-panel>
  
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title>   Who is this training designed for? </mat-panel-title>
              <!-- <mat-panel-description>This is a summary of the content</mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your experience with our booking or payment processes</p> -->
            
            <ul>
              <li>
                This is open for persons from 18+ years of age who wishes to achieve financial freedom
              </li>
            </ul>
  
          </mat-expansion-panel>
  
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> How much time commitment is required? </mat-panel-title>
              <!-- <mat-panel-description> Currently I am {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your general experience or any other thought</p> -->
  
            <ul>
              <li>
                  Your level of commitment determines your level of success in every business. 
                  Participants will be thought the secret of the business and will be lead through untill success is reached
              </li>
            </ul>
  
          </mat-expansion-panel>
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> How long until I can achieve financial freedom? </mat-panel-title>
              <!-- <mat-panel-description> Currently I am {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your general experience or any other thought</p> -->
  
            <ul>
              <li>
                A commitment participants will achieve success within the first 2-3 months of participation 
              </li>
            </ul>
  
          </mat-expansion-panel>
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> Do you offer a money-back guarantee?</mat-panel-title>
              <!-- <mat-panel-description> Currently I am {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your general experience or any other thought</p> -->
  
            <ul>
              <li>
                We may offer refunds in accordance with our refund policy. 
                If you are not satisfied with our services, please contact our customer support team to request a refund within 30 days of your registration.
              </li>
            </ul>
  
          </mat-expansion-panel>
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> What results can I expect? </mat-panel-title>
              <!-- <mat-panel-description> Currently I am {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your general experience or any other thought</p> -->
  
            <ul>
              <li>
                Participants generate $1,000+ in additional income per month on average.
              </li>
            </ul>
  
          </mat-expansion-panel>
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> Do you offer any funding or payment plans?</mat-panel-title>
              <!-- <mat-panel-description> Currently I am {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your general experience or any other thought</p> -->
  
            <ul>
              <li>
                Visit the package page for details on various packages available 
              </li>
            </ul>
  
          </mat-expansion-panel>
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> What happens after I complete the training? </mat-panel-title>
              <!-- <mat-panel-description> Currently I am {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your general experience or any other thought</p> -->
  
            <ul>
              <li>
                You will be supported with managing and growing your business. Our training never stops as we need to stay up to date with business trends and information 
              </li>
            </ul>
  
          </mat-expansion-panel>
  
  
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> How do I get started?</mat-panel-title>
              <!-- <mat-panel-description> Currently I am {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description> -->
            </mat-expansion-panel-header>
            <!-- <p>Tell us your general experience or any other thought</p> -->
  
            <ul>
              <li>
                You can book a one-on-one today to speak with someone to support you get started
               </li>
            </ul>
  
          </mat-expansion-panel>
  
  
          <!-- <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title> Overall Satisfaction </mat-panel-title>
            </mat-expansion-panel-header>
  
            <ul>
              <li></li>
            </ul>
  
          </mat-expansion-panel> -->
  
        </mat-accordion>
  
      </article>
  
     </section>