<div class="about-container mat-elevation-z8">
    <!-- Introduction Section -->
    <section class="intro">
      <div class="content">
        <h1 class="mat-display-2">Discover a Unique Path to Freedom</h1>
        <p>Welcome to <em>Diamond Project Online</em>, the digital extension of the well-established Diamond Project. Here we offer a powerful business platform that merges digital marketing with online partnership programs. Our mission is to empower you to grow your business, achieve personal growth, and secure financial success—all within a convenient and accessible online environment.</p>
        <a mat-raised-button color="primary" class="cta-button" routerLink="../get-started" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Join Us Now</a>
      </div>
      <img src="./../../assets/img/intro.jfif" alt="Digital Freedom" class="intro-image">
    </section>
  
    <!-- How It Works Section -->
    <section class="how-it-works">
        <h2 class="mat-headline">How Our Online Business Works</h2>
        <div class="flex-container">
          <div class="flex-item">
            <h3>Sign up as a Partner</h3>
            <p>
                We've developed a unique business model that blends the strengths of digital marketing and online partnership programs.
            </p>
            <p>Become more than just a member—you’re a partner in success. Start your journey by signing up and becoming part of our growing community.</p>
          </div>
          <div class="flex-item">
            <h3>Get Your Personalized Link</h3>
            <p>Upon starting your business with us, you receive a unique personalized link which serves as your gateway to building and growing your business online. You are also granted access to our advanced online social media related platform where you run your business.</p>
          </div>
          <div class="flex-item">
            <h3>Promote & Grow</h3>
            <p>Our platform and system supports you every step of the way, helping you promote, manage, and grow your business with ease and efficiency.</p>

            <p>
                Our system is an advanced online platform, and is designed to support you every step of the way. It not only helps you promote your link but also makes managing and expanding your business easy and efficient, no matter the time of day.
            </p>
          </div>
          <div class="flex-item">
            <h3>Get Mentored & Trained</h3>
            <p>Through our comprehensive mentorship program, we teach you how to leverage this platform to maximize your online presence, attract potential partners, and effectively grow your network.
            </p>
          </div>
        </div>
        <div class="cta-container">
          <a mat-raised-button color="accent" class="cta-button" routerLink="../pre-approach-download" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Learn More</a>
        </div>
      </section>
  
    <!-- Benefits Section -->
    <section class="benefits">
      <div class="content">
        <h2 class="mat-headline">Why Join Diamond Project Online?</h2>
        <ul>
          <li><strong>Global Reach:</strong> Connect with a worldwide audience, breaking down geographical boundaries.</li>
          <li><strong>Flexibility and Freedom:</strong> Work on your own terms, anywhere and anytime.</li>
          <li><strong>Passive Income:</strong> Build income streams that continue to grow over time.</li>
          <li><strong>Personal Branding:</strong> Establish yourself as an authority in your niche.</li>
          <li><strong>Scalability:</strong> Expand your business without the limitations of physical space.</li>
          <li><strong>Data-Driven Decisions:</strong> Use our tools to optimize your business strategies.</li>
        </ul>
        <!-- <button mat-raised-button color="primary" class="cta-button">Get Started Today</button> -->
      </div>
    </section>
  
    <!-- Call to Action Section -->
    <section class="cta">
      <div class="content">
        <h2 class="mat-display-1">Your Journey to Financial Freedom Starts Here</h2>
        <p>Are you ready to break free from the daily grind? Join our thriving community and let us guide you towards success. The digital world is your playground—let’s build your legacy together.</p>
        <a mat-raised-button color="primary" class="cta-button" routerLink="../plans" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Start Your Journey</a>

        <div class="more-questions">
          If you have questions, <a routerLink="../faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"> click here </a> to check for answers in our FAQs
        </div>
      </div>
    </section>
  </div>
  