<section class="partners-background">
    <section class="head">

        <article>
            <h2>Seeking Financial Freedom? Build an Online Business You Love (On Your Schedule!)</h2>
            <h3>Empower Your Wellness & Share the Journey (Earn While You Learn)</h3>
            <p>Are you tired of the 8-5 grind? Do you dream of being your own boss and setting your own hours? Our online business opportunity allows you to build a thriving business while enjoying the flexibility you deserve. 
                Learn more about how you can achieve financial freedom and create a life you love, all on your terms.
            </p>
          </article>
    </section>
      
    <section class="breadcrumb-wrapper">
        <div class="breadcrumb">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Home</a> &gt;
            <!-- <a routerLink="/get-started" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Get Started</a> &gt; -->
            <span>join us</span>
        </div>
    </section>

    <section class="body">
        <article class="writeup">
          <h3 class="big-title">What we are <span class="obvious">offering is a system</span> <br>for creating a residual income stream</h3>

          <div class="messages">
            <p>Are you worried about your retirement savings? Feeling overwhelmed by debt?</p>
          
            <p>Our online business model can help you create a personalized plan to secure your financial future and become debt-free.         </p> 
            
            <p>Book a session below to get more information about our business</p>

            <button mat-flat-button color="accent">Book A One-On-One</button>
          </div>

          <div class="b-img">
            <img src="assets/img/passive-inc.jpg" alt="">
          </div>

          <div class="steps">
            <async-index-why-we-exist></async-index-why-we-exist>
          </div>

    
        </article>

        <article class="partner-banner">
            <h3>Meet Real People, Real Results:  Our Success Stories!</h3>

            <div class="comments-container">
                <p class="intro">Building a successful business takes dedication and hard work, but it's incredibly rewarding! Here at Diamond Project, we're proud to see our team members achieving amazing things.</p>

                <p class="comments">
                    <strong>Ichebadu Woko - Recent College Graduate:</strong> "The job market after graduation was brutal.  
                    Diamond Project gave me an opportunity to leverage my skills and build a career path without limitations.  
                    
                </p>

                <p class="comments">
                    <strong>Veronica Umoh - Professional Nurse: </strong> "I was drowning in daycare costs and missing precious moments with my kids.  
                    Now I have the flexibility to be there for them while creating an income stream. 
                    I contribute financially and have more time with my family.
                </p>

                <p class="comments">
                    <strong>Frank Okwo - Corporate Sales Manager: </strong> "I was tired of the corporate grind and the feeling of being stuck.  
                    Diamond Project offered a chance to be my own boss and build something meaningful.   I'm finally in control of my future!"
                </p>

                <p class="comments">
                    <button mat-flat-button color="accent">Get Started</button>
                </p>
            </div>

        </article>
    
    </section>

    <async-why-you-should-join></async-why-you-should-join>

    <!-- <div class="icon"></div> -->

    <div class="partners">
        <h3 class="title">Our Partners</h3>
        <async-brands-logos></async-brands-logos>
        
    </div>

</section>