<section class="head">
    <article>
        <h2>Pre-Approach PDF Download       </h2>
        <p>If your are you ready to get started with us, download our Pre-Approach PDF guide, this tool will give your a little information about our business and how we achieve our goals of financial freedom and personal development.
            You will discover our strategies and gather valuable insight that will enable you build strong connection our business.
    </article>
</section>
  
<section class="breadcrumb-wrapper">
    <div class="breadcrumb">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Home</a> &gt;
        <a routerLink="../pre-approach-download" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Resources</a> &gt;
        <span>Pre-approach download</span>
    </div>
</section>


<section class="body">
    <article class="writeup">
    <!-- <h3>Featured Testimonials</h3> -->




    <div class="contact-form">
        <form [formGroup]="downloadForm">
          <div class="form-wrapper">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name">
                  <mat-error *ngIf="downloadForm.get('name')?.hasError('required') ">
                    Name is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Surname</mat-label>
                  <input matInput formControlName="surname">
                  <mat-error *ngIf="downloadForm.get('surname')?.hasError('required') ">
                    Surname is required
                  </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Your Phone number</mat-label>
                <input matInput formControlName="phone">
                <mat-error *ngIf="downloadForm.get('phone')?.hasError('required') ">
                  Phone number is required
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>Your Email</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-error *ngIf="downloadForm.get('email')?.hasError('email') ">
                  Email is invalid
              </mat-error>
              <mat-error *ngIf="downloadForm.get('email')?.hasError('required') ">
                  Email is required
                </mat-error>
            </mat-form-field>

            <mat-progress-bar class="progress" mode="indeterminate" *ngIf="isSpinning"></mat-progress-bar>

            <div class="btn">
              
              <button mat-raised-button color="primary" [disabled]="isSpinning" (click)="onSubmit()">Submit <i class="fa fa-angle-double-right"></i></button>

              <button mat-raised-button color="accent" [disabled]="isDownloadReady" (click)="downloadPdf()">Download <i class="fa fa-download"></i></button>
            </div>
          </form>
        </div>





    </article>

</section>
  
  

  
