.banner {
    height: 35em;
    border: 1px solid #ccc;
    border-radius: 2%;
    //position: absolute;
    //z-index: 10;
    //top: 10em;
    //right: 10em;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner {
    height: 36em;
    position: relative;
    top: 0;
    right: 0;
  }
}

/* iPads/tablet (portrait and landscape) */
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  .banner {
    height: auto;
    position: relative;
    top: 0;
    right: 0;
  }
}

/* Desktops and laptops  (Laptop and desktop, 1025px and up ) */
@media only screen and (min-device-width: 1025px)  {
/*   .banner {
    top: 5em;
    right: 5em;
  } */
}

/* Large screens -*/
@media only screen and (min-width: 1824px) {
  /* .banner {
    top: 10em;
    right: 10em;
  } */
}
