<section class="head">

    <article>
        <h2>See How Diamond Project Uses The Connected Economy Principles</h2>
        <!-- <h3>{{course.subTitle}}</h3> -->
        <p>Please take a moment to watch a video showcasing how the Diamond Project applies the principles of the Connected Economy</p>
      </article>
    </section>
  
     <section class="breadcrumb-wrapper">
        <div class="breadcrumb">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Home</a> &gt;
            <a routerLink="/get-started" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Get Started</a> &gt;
            <!-- <a routerLink="/get-started/testimonials" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Testimonials</a> &gt; -->
            <span>connected economy</span>
        </div>
     </section>
  
  
    <section class="body">
      <article class="writeup">
        <h3>Featured On Connected Economy</h3>
        
        <form #videoForm="ngForm">
        <div class="video-gallery">
          <div *ngFor="let video of videos" class="video-item" (click)="openVideoModal(video)">
            <div class="play-overlay">
              <div class="play-button">&#9654;</div>
            </div>
            <img class="thumbnail" [src]="video.thumbnailUrl" alt="Video Thumbnail">
            <div class="video-details">
              <h2>{{ video.title }}</h2>
              <p class="subtitle">{{ video.subtitle }}</p>
              <p class="description">{{ video.description }}</p>
            </div>
          </div>
        </div>
  
        <mat-form-field>
          <mat-label>Choose your country</mat-label>
          <mat-select required [(ngModel)]="selectedCountry" name="selectedCountry" #countrySelect="ngModel">
            <mat-option value=""></mat-option>
            <mat-option value="Nigeria">Nigeria</mat-option>
            <mat-option value="Ghana">Ghana</mat-option>
            <mat-option value="Kenya">Kenya</mat-option>
            <!-- <mat-option value="Zambia">Zambia</mat-option> -->
          </mat-select>
          <mat-error *ngIf="countrySelect.invalid && countrySelect.touched">
            Country is required
          </mat-error>
        </mat-form-field>
  
        <div class="next-view">
          <button mat-raised-button color="accent" class="back" (click)="onPrevious()">
            <i class="fa fa-angle-double-left"></i> Previous
          </button>
          <button id="onNext" mat-raised-button color="primary" (click)="onNext()" [disabled]="!countrySelect.valid">
            Get Involved Now <i class="fa fa-angle-double-right"></i>
          </button>
        </div>
  
        </form>
  
  
      </article>
  
     </section>