.head {
    background: #050111;
    //background: #00838F;
    article {
      color: white;
      padding: 2em 1em 2em 8em;
      h2 {
        font-family: Garamond, serif;
        font-size: 2em;
      }
      h3 {
        font-family: Georgia, serif;
        font-size: 1em;
      }
      p {
        text-align: justify;
        font-family: 'Courier New', monospace;
        font-size: 14px;
        line-height: 1.5em;
      }
      a {
        color: white;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  
  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  
      .writeup {
        padding: 2em;
        width: 60%;
        mat-form-field {
          width: 30%;
        }
        h3 {
          color: #ffab40;
        }
        p {
          text-align: justify;
          /* font-family: 'Courier New', monospace; */
          font-size: 14px;
          line-height: 1.5em;
        }
        .next-view {
          margin-top: 2em;
          text-align: center;
          button {
            //width: 20%;
            margin-left: 1em;
          }
        }
      }
  
  
  
  .video-gallery {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .video-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    //opacity: 0;
    transition: opacity 0.3s;
  }
  
  .play-button {
    font-size: 40px;
    color: #fff;
  }
  
  .thumbnail {
    width: 100%;
    height: auto;
  }
  
  .video-item:hover .play-overlay {
    opacity: 0.5;
  }
  
  .video-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    z-index: 1;
  }
  
  .subtitle {
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 1em;
  }
  
  .description {
    font-size: 14px;
    margin-bottom: 0;
    padding: 0 2em 0 1em;
  }
  
  
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  .head {
      article {
        width: 100%;
        padding: 1em;
        h2 {
          font-size: 1.4em;
        }
        h3 {
          font-size: 1em;
        }
        p {
          width: 90%;
        }
      }
  }
  
  .body {
    .writeup {
      h3 {
          padding-left: 1em;
      }
      width: 100%;
      padding: 1em;
      mat-form-field {
        width: inherit;
      }
      .next-view {
        display: flex;
        flex-direction: column;
        
          button {
            width: auto;
            margin-top: 1em;
          }
          .back {
            order: 1;
          }
      }
    }
  }
  }
  
  /* iPads/tablet (portrait and landscape) */
  @media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
    .body {
      .writeup {
        mat-form-field {
          width: inherit;
        }
        .next-view {
          display: flex;
          flex-direction: row;
        button {
          width: 50%;
          margin-left: 1em;
        }
      }
      }
    }
    
  }